@()(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.HomeController.query
)

<script>

 function queryFirstPage(){
     var queryContent = $("#queryContent").val();
     $.ajax(jsRoutes.controllers.HomeController.query(queryContent, 1))
         .done( function(data) {
             $("#PageContent").html(data);
         });
 };

</script>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div>
            <div class="input-group stylish-input-group">
                <input id="queryContent" type="text" class="form-control"  placeholder="Search by Country name or Code" >
                <span class="input-group-addon">
                    <button type="submit" onclick="queryFirstPage()" id="QuerySearchButton">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
