@(queryContent : Map[Airport, Seq[Runaway]],
  pageNumber : Int,
  queryText : String,
  airportPageCount : Int)
@import controllers.utils._
@import shared._

<!-- Copied from http://jsfiddle.net/whytheday/2Dj7Y/11/ -->

<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Identification Code</th>
            <th>Airport Name</th>
            <th>Airport Type</th>
            <th>Elevation Ft.</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Country ISO</th>
        </tr>
    </thead>
    <tbody>
        @for((c, index) <- queryContent.zipWithIndex){
            <tr data-toggle="collapse" data-target="#runwayAirport@index" class="accordion-toggle">
                <td>@c._1.id</td>
                <td>@c._1.ident</td>
                <td>@c._1.name</td>
                <td>@c._1.airport_type</td>
                <td>@c._1.elevation_ft</td>
                <td>@c._1.latitude_deg</td>
                <td>@c._1.longitude_deg</td>
                <td>@c._1.iso_country</td>
            </tr>
            <tr>
                <td  colspan="6" class="hiddenRow">
                    <div class="accordian-body collapse" id="runwayAirport@index">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Length(ft.)</td>
                                    <td>Width(ft.)</td>
                                    <td>Surface</td>
                                    <td>Lighted</td>
                                    <td>Closed</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for(r <- c._2){
                                    <tr>
                                        <td>@r.id</td>
                                        <td>@r.length_ft</td>
                                        <td>@r.width_ft</td>
                                        <td>@r.surface</td>
                                        <td>@r.lighted</td>
                                        <td>@r.closed</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            }
    </tbody>
</table>

<script>

 function changePage(pageNumber) { queryPage('@queryText', pageNumber) }
</script>

@pagination(pageNumber, new PaginationLogic(Shared.defaultPagination), queryContent.size)
