@(mostCountry : List[(String, Long)],
  lessCountry: List[(String, Long)],
  runawaySurfacePerCountry : Map[String, List[String]],
  pageNumber : Int,
  paginationLength : Int,
  totalPages : Int
)(implicit request: play.api.mvc.RequestHeader)

@import controllers.utils._
@import shared._


<!-- template boostrap for tabs and stuff http://bootsnipp.com/snippets/VEomV  -->

@main("Air Tracker") {
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.HomeController.reportPage
    )

    <script>

     function changePage(pageNumber){
         $.ajax(jsRoutes.controllers.HomeController.reportPage(pageNumber))
          .done( function(data) {
              $('#reportSegment').html(data)
          });
     };

    </script>


    <div class="row">
        <div class="page-header">
          <h2>Airport Density By Country</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3>Most Dense Country</h3>
            <table class="table" id="mostAirportDenseCountry">
                <thead>
                    <tr>
                        <td>Country Name</td>
                        <td>Airport Number</td>
                    </tr>
                </thead>
                <tbody>
                    @for((c,v) <- mostCountry) {
                    <tr>
                        <td>@c</td>
                        <td>@v</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-6">
            <h3>Less Dense Country</h3>
            <table class="table" id="lessAirportDenseCountry">
                <thead>
                    <tr>
                        <td>Country Name</td>
                        <td>Airport Number</td>
                    </tr>
                </thead>
                <tbody>
                    @for((c,v) <- lessCountry) {
                    <tr>
                        <td>@c</td>
                        <td>@v</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="reportSegment">
        @reportSegment(runawaySurfacePerCountry,
                       pageNumber,
                       paginationLength,
                       totalPages)
    </div>
}
