@(mostCountry : List[(String, Long)], lessCountry: List[(String, Long)])(implicit request: play.api.mvc.RequestHeader)

<!-- template boostrap for tabs and stuff http://bootsnipp.com/snippets/VEomV  -->

@main("Air Tracker") {

    <div class="row">
        <div class="page-header">
          <h2>Airport Density By Country</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3>Most Dense Country</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Country Name</td>
                        <td>Airport Number</td>
                    </tr>
                </thead>
                <tbody>
                    @for((c,v) <- mostCountry) {
                    <tr>
                        <td>@c</td>
                        <td>@v</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-6">
            <h3>Less Dense Country</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Country Name</td>
                        <td>Airport Number</td>
                    </tr>
                </thead>
                <tbody>
                    @for((c,v) <- lessCountry) {
                    <tr>
                        <td>@c</td>
                        <td>@v</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
